apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - argocd-ingress.yaml

images:
  - name: yongmin01/musiot
    newTag: sha-baab5de5d259b55a77357189e231ca3a308a8dff
